<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="view" content="width=device-width, initial-scale=1.0">
        <title>SSE</title>
    </head>
<body>
    <h1>Server-sent events - SSE - Python</h1>

    <p>Date:</p>
    <div id="date"></div>
    
    <script>
        const dateDiv = document.getElementById("date");

        const eventSource = new EventSource("/sse");

        eventSource.onmessage = (event) => {
            dateDiv.textContent = event.data;
        }

        





    </script>
    
</body>
</html>